.results {
  margin-top: 20px;
}

.results h2 {
  color: #4c5b61;
  font-size: 24px;
  margin-bottom: 10px;
}

.results p {
  color: #829191;
  font-size: 16px;
}

.results a {
  display: block;
  color: #2c423f;
  text-decoration: none;
  margin-bottom: 10px;
}

.results a:hover {
  color: #949b96;
  text-decoration: underline;
}
