:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
} /* variables*/

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding-top: 20px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.form-container label {
  margin-bottom: 10px;
}

.form-container input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  color: var(--dark-green);
}
.login-form {
  text-decoration: none;
  color: var(--dark-green);
  padding-bottom: 10px;
  text-align: center;
}
.form-container button {
  padding: 10px 20px;
  background-color: #4c5b61;
  color: #f9f9f9;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.form-container button:hover {
  background-color: var(--sage-green);
}

@media screen and (min-width: 768px) {
  .form-container {
    max-width: 500px;
  }
}
