:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
}

.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-width: 450px;

  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.feed-item {
  margin-bottom: 20px;
}
.book-club-home {
  margin: 0 auto;
  padding: 20px;
}

.welcome-user {
  margin-bottom: 20px;
}

.welcome-user h2 {
  color: var(--outer-space);
  font-size: 24px;
  margin-bottom: 10px;
}

.welcome-message {
  color: var(--battleship-grey);
  font-size: 16px;
}

.meeting-form {
  margin-top: 20px;
}

.current-read {
  margin-top: 20px;
}

.discussion-board {
  margin-top: 20px;
}

.searchbar {
  margin-top: 20px;
}

.search-results {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .page-container {
    max-width: 768px;
  }
  .book-club-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .welcome-user {
    grid-column: 1 / span 2;
  }

  .meeting-form,
  .current-read,
  .discussion-board,
  .searchbar {
    margin-top: 0;
  }
}
