.feed-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.current-read,
.meeting-details,
.discussion,
.member-list,
.search-bar,
.search-results {
  padding: 20px;
}
.current-read {
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.header {
  align-self: flex-start;
}

.current-read {
  align-self: flex-start;
}
.meeting-details {
  align-self: flex-end;
}

.discussion {
  align-self: center;
}

.member-list {
  align-self: flex-end;
}

@media screen and (min-width: 768px) {
  .feed-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .current-read {
    margin-bottom: 0;
  }
}
