:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
}
.past-reads {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  max-width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.past-reads h2 {
  color: var(--outer-space);
  font-size: 24px;
  margin-bottom: 10px;
}

.past-reads p {
  color: var(--dark-green);
  margin-bottom: 20px;
}

.past-reads ul {
  /* list-style: none; */
  margin: 0;
  padding: 0;
}

.past-reads li {
  color: var(--dark-green);
  margin-bottom: 5px;
  font-style: bold;
}
.book-author {
  font-style: italic;
  color: var(--sage-green);
}
@media screen and (min-width: 768px) {
  .past-reads {
    max-width: 768px;
  }
}
