:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
}

.meeting-form-container {
  margin-bottom: 20px;
}

.meeting-form-container form {
  display: flex;
  flex-direction: column;
}

.meeting-form-container label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.meeting-form-container input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid var(--silver);
  border-radius: 3px;
}

.addMeetingButton {
  background-color: var(--sage-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.addMeetingButton:hover {
  background-color: var(--dark-green);
}
.submit {
  background-color: var(--sage-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.submit {
  background-color: var(--dark-green);
}
