:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
} /* variables */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.discussion-posts {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.post-container {
  margin-top: 20px;
}
