:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
} /* variables */

.reply-post {
  margin-top: 20px;
  background-color: var(--outer-space);
  padding: 10px;
  border-radius: 5px;
}

.reply-post h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.reply-post p {
  font-size: 14px;
  margin-bottom: 0;
}
