:root {
  --outer-space: #4c5b61;
  --battleship-grey: #829191;
  --sage-green: #949b96;
  --white: #f9f9f9;
  --dark-green: #2c423f;
  --silver: #c5c5c5;
} /* variables */
.post {
  background-color: var(--white);
  border: 1px solid var(--battleship-grey);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.post h3 {
  font-weight: bold;
  color: var(--dark-green);
  margin-bottom: 10px;
}

.post p {
  margin-bottom: 10px;
}

.post button.reply {
  background-color: var(--sage-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.post button.reply:hover {
  background-color: var(--outer-space);
}

.post .reply-container {
  margin-top: 10px;
}
